{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/style.css") }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}
{% block title %}{% if not title %}Talks {% else %}{{ title }}{% endif %} {% endblock %}
{% block navbar %}
    <nav class="navbar-fixed-top navbar">
        <div class="container-fluid" style="background-color: lavender;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                      <a class="navbar-brand" href="{{ url_for("questions.index") }}">{% if not title %}Questions {% else %}{{ title  }}{% endif %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("questions.status") }}">Status</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Hello, {{ current_user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for("questions.status_individual") }}">My submissions</a></li>

                                <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>

                            </ul>
                        </li>

                    {% else %}
                        <li><a href="{{ url_for("auth.login") }}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% for category,message in get_flashed_messages(with_categories=True) %}
            {% if category=="message" %}
                <div class="alert alert-success">
            {% else %}
                <div class="alert alert-{{ category }}">
            {% endif %}

        <button type="button" class="close" data-dismiss="alert">X</button>
        {{ message }}
        </div>

        {% endfor %}

    </nav>
{% endblock %}
