{% extends "base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container-fluid">
    <div style="margin-top:90px ">
    <div class="row-fluid">
     <div class="page-header"><h2 style="margin: 5px 5px 5px 5px;">{% block form_header %}Login{% endblock %}</h2></div></div>
    </div>
        <div style="padding: 20px 10px 10px 10px;margin: 0 auto;">
    <div class="container-fluid"  >
    <div class="row">
    <div class="col-md-8">

        {% block form %}
        {{ wtf.quick_form(forms) }}
            <br>
            <p style="display: inline;float: left">Haven't registered yet?  </p> <a style="margin: 10px 10px 10px 10px" href="{{ url_for("auth.register")}}"> Register</a>
        {% endblock %}

    </div>
    <div class="col-md-4">
        {% block aside %}

        {% endblock %}

    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}