{% extends "base.html" %}

{%  import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div style="margin-top:90px ">

     <div class="page-header"><h2 style="margin: 5px 5px 5px 5px;">{% block form_header %}Login{% endblock %}</h2></div>
    <div style="padding: 50px 10px 10px 10px;margin: 0 auto;">
    <div class="container-fluid"  >

    <div class="col-md-6">

        {% block form %}
        {{ wtf.quick_form(forms) }}
        {% endblock %}

    </div>

    </div>
    </div>
    </div>
{% endblock %}