{% extends "login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block form_header %}
    {{ question.title }}
{% endblock %}
{% block form %}
    <h3>Description</h3>
    <br>
    <p>{{ question.description | safe }} </p>
    <br>
    <h3>input format:</h3>
    <br>
    <p>{{ question.inputformat | safe }}</p>
    <br>

    <h3>Constraints :</h3>
    <p>
        {{ question.constraint | safe }}
    </p>
    <br>
    <h3>Sample Input:</h3>
    <pre>{{ question.test_input }}
    </pre>
    <h3>Sample Output:</h3>
    <pre>{{ question.test_output }}
    </pre>
    <blockquote style="font-family: 'lucida console';font-size: 10px">added on {{ question.added_on }}</blockquote>
    <div class="upload">
        {{ wtf.quick_form(form,action=url_for("questions.submit",id = question.id),method="post",enctype="multipart/form-data") }}

    </div>
    <br>
    <br>
{% endblock %}
