{% extends "login.html" %}

{% block form_header %}
    {% if ofuser %}
        {{ current_user.username }}'s Submissions
    {% else %}
        All Submissions
    {% endif %}
{% endblock %}
{% block form %}
    <table class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Question id</th>
            <th>user</th>
            <th>result</th>
        </tr>

    {% include "_status_row.html" %}

        </thead>
    </table>

{% endblock %}
